<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blackview.repository">

    <application>

        <activity android:name=".login.CodeActivity" />
        <activity android:name=".login.ForgetActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.ResetPwdActivity" />
        <activity android:name=".login.SuccessActivity" />

    </application>
</manifest>